{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <a href="https://github.com/login/oauth/authorize?client_id=53f05ffe1d5763a25810">LOGHIN WITH GITHUB</a>
{% endblock %}

module.exports = router 